* {
    margin: 0;
    padding: 0;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    width: 160px;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
  background-color:white;
  color: #FD6E0A;
  border: 1px solid #FD6E0A;
  padding: 20px 25px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px 50px #fd6f0a81;
}
header{
    background: url('../assets/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1600px;
    height: 808px;
}
.heading-container{
    display: flex;
    flex-direction: column;
    padding-right: 230px;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    padding-top: 216px;
    padding-bottom: 165px;
    padding-left: 860px;
     /* border: 3px 3px solid black; */
     
}
/* .heading-container .heading {
    background: url('../assets/images/banner/banner1.png');
    
} */
.heading h1{
    font-size: 65px;
    font-weight: bold;
    line-height: auto;
    max-width: 525px;
    margin-bottom: 24px;
}
.heading p{
    font-size: 16px;
    line-height: 26px;
    max-width: 494px;
    margin-bottom: 32px;
}
.failure-container {
    display: flex;
    gap: 87px;
    margin: 0 auto;
    align-items: center;
    padding: 130px 206px;
    width: 1140px;
}
.desc h3{
    color: #151414;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 40px;
}
.desc .detailed {
    margin-bottom: 16px;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
}
.desc .sel {
    margin-bottom: 8px;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
}
.plan-cont{
    width: 1140px;
    margin: 0 auto;
    align-items: center;
}
.plan-cont .plans {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.plan-cont h2{
    text-align: center;
    margin: 130px 0 55px 0;
    font-size: 40px;
    font-weight: bold;
    color: #151414;
}
.card h4{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 16px;
}
.card p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}