* {
    margin: 0;
    padding: 0;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    width: 160px;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover, .btnc{
  background-color:white;
  color: #FD6E0A;
  border: 1px solid #FD6E0A;
  padding: 20px 25px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px 50px #fd6f0a81;
}
header{
    background: url('../assets/images/banner/banner2.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1600px;
    height: 808px;
}
.heading-container{
    display: flex;
    flex-direction: column;
    padding-right: 230px;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    padding-top: 216px;
    padding-bottom: 165px;
    padding-left: 860px;
     /* border: 3px 3px solid black; */
     
}
/* .heading-container .heading {
    background: url('../assets/images/banner/banner1.png');
    
} */
.heading h1{
    font-size: 65px;
    font-weight: bold;
    line-height: auto;
    max-width: 525px;
    margin-bottom: 24px;
}
.heading p{
    font-size: 16px;
    line-height: 26px;
    max-width: 494px;
    margin-bottom: 32px;
}
.failure-container {
    display: flex;
    gap: 87px;
    margin: 0 auto;
    align-items: center;
    padding: 130px 206px;
    width: 1140px;
}
.desc h3{
    color: #151414;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 40px;
}
.desc .detailed {
    margin-bottom: 16px;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
}
.desc .sel {
    margin-bottom: 8px;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
}
.plan-cont{
    width: 1140px;
    margin: 0 auto;
    align-items: center;
}
.plan-cont .plans {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.plan-cont h2{
    text-align: center;
    margin: 130px 0 55px 0;
    font-size: 40px;
    font-weight: bold;
    color: #151414;
}
.card h4{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 16px;
}
.card p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}
.card img{
    margin-bottom: 24px;
}
.btnc{
    box-shadow: none;
}
.btnc:hover{
    box-shadow: 2px 2px 10px #fd6f0a;
}
#ad {
    width: 1140px;
    height: 300px;
    background: url("../assets/images/gradient3.png"),url("../assets/images/watch.png");
    background-size: contain,contain;
    background-repeat: no-repeat,no-repeat;
    /* position: absolute; */
    margin: 130px 230px;
}
#ad .text {
    padding: 60px 617px 60px 64px;
    text-align: left;
}
#ad .text h2{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 24px;
}
footer{
    width: 1600px;
    height: 577px;
    background-color: #151414;
}
#contact{
    display: flex;
    padding: 130px 230px;
    justify-content: space-between;
    gap: 331px;
}
.social h2{
    font-size: 45px;
    font-weight: bold;
    color: #F8F8F8;
    margin-bottom: 16;
}
.social .p{
    font-size: 16px;
    color: #F8F8F8;
    line-height: 26px;
    max-width: 485px;
    margin-bottom: 24px;
}
.social .p2{
    font-size: 16px;
    color: #F8F8F8;
    line-height: 16px;
    margin-bottom: 16;
}
.social .p3{
    font-size: 16px;
    color: #F8F8F8;
    line-height: 32px;
    margin-bottom: 32px;
}
.social a{
    padding-right: 17px;
}
.form h4{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 31px;
}
.form input{
    border-radius: 8px;
    padding: 21px;
    text-align: left;
    color: #F3F3F3;
    font-size: 18px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0);
    border-color: #FFFFFF;
}